.slide-view-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-slides/nxt-slides-bg.png');
  width: 90%;
  background-size: cover;
  height: 90%;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif';
}
.slide-heading {
  font-family: 'Bree Serif';
  color: #0967d2;
  font-size: 48px;
  font-weight: 600;
  width: 80%;
  text-align: center;
  margin: 0;
  cursor: pointer;
}
.slide-heading-input {
  font-family: 'Bree Serif';
  color: #0967d2;
  font-size: 48px;
  font-weight: 600;
  width: 80%;
  border: none;
  text-align: center;
  background-color: #dbeafe;
  margin: 0;
  outline: none;
  padding: 0;
}
.slide-description-input {
  color: #334155;
  font-size: 28px;
  font-family: 'Bree Serif';
  border: none;
  text-align: center;
  background-color: #dbeafe;
  margin-top: 15px;
  outline: none;
  padding: 0;
  margin-bottom: 28px;
}
.slide-description {
  color: #334155;
  font-size: 28px;
  font-family: 'Bree Serif';
  margin-top: 15px;
  cursor: pointer;
}
